/event/JFZ_Event_July2022/02_Ressourcen/00_Package_Installation_Konfiguration/arduino-1.8.19-windows.exe
/event/JFZ_Event_July2022/02_Ressourcen/00_Package_Installation_Konfiguration/arduino-1.8.19-windows.zip
/event/JFZ_Event_July2022/02_Ressourcen/00_Package_Installation_Konfiguration/putty.exe
